html {
  background-color: #FFDDDD;
}
.centerfill {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10vh;
}
button {
  width: 10vw;
  min-width: 600px;
  text-align: center;
}
#Notify0 {
  background-color: #DDFFDD;
}
#Notify10 {
  background-color: #DDDDFF;
}
